@model List<Recetum>

<h1 class="h1">Recetas</h1>
<div class="container">
  @foreach (var receta in Model)
  {
    <div>
      <img src="data:image;base64,@Convert.ToBase64String(receta.Foto)"/>
    </div>
  }
</div>