@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --first-color: #BC0119;
    --second-color: #C7814A;
    --third-color: #BCA693;
    --fourth-color: #1D4E17;
    --black: #0B100C;
    --white: #ffffff;
    --notification-background: #ffffff;
    --notification-primary: #BC0119;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #BCA693;*/
}

.logo, .nav-title {
font-family:'Agbalumo',sans-serif;
}
a {
text-decoration:none;
color: inherit;
}

.input-navbar {
    background-color: var(--second-color);
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: #0B100C;
    word-wrap: break-word;
    outline: 7px solid #383838;
    height: 50px;
    width: 20rem;
    font-size: 17px;
    text-align: center;
    transition: all .5s;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

    .input-navbar::placeholder {
        color: black;
    }

    .input-navbar:hover {
        border-top-width: 0.2em;
        background-color: #f1e8e8;
    }

    .input-navbar:focus {
        border-top-width: 0.2em;
        background-color: #f1e8e8;
    }

.container login {
    max-width: 650px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(600px,100%);
    padding: 40px;
    border-radius: 20px;
    background-color: green;
}

.checkbox-wrapper *,
.checkbox-wrapper *::before,
.checkbox-wrapper *::after {
    box-sizing: border-box;
}

.checkbox-wrapper label {
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.checkbox-wrapper input {
    visibility: hidden;
    display: none;
}

    .checkbox-wrapper input:checked ~ .checkbox {
        transform: rotate(45deg);
        width: 14px;
        margin-left: 12px;
        border-color: #000000;
        border-top-color: transparent;
        border-left-color: transparent;
        border-radius: 0;
    }

.checkbox-wrapper .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}

.input-form {
    box-shadow: 4px 4px var(--black);
}
/* Profile Section */

.img-prof {
    width:300px;
    height:300px;
    object-fit:fill;
    
}

.user-image {
    border-radius: 12px;
}

footer {

    bottom: 0;
    width: 100%;
}
main {
    min-height: 80vh;
}

.notification {
    position: absolute;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: var( --notification-background);
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.notification__icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification__progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient( to right, var(--notification-background), var(--notification-primary) );
    border-radius: inherit;
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.img-recipe {
    width: 300px;
    height: 300px;
    object-fit: fill;
}