<a asp-action="ViewRolePetitions" asp-controller="Role" class="btn btn-primary">Ver Peticiones de roles</a>
<a asp-action="Comments" asp-controller="Admin" class="btn btn-primary">Ver comentarios reportados</a>
