@model OnlyPan.Models.ViewModels.RecipesViewModels.PaymentViewModel

<div class="img-prof flex align-items-center justify-items-center">
    <img class="img-fluid user-image" src="data:image;base64,@Model.imagen" alt="User img"/>
    </div>