@model OnlyPan.Models.ViewModels.RolViewModels.RoleMakePetitionViewModel
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
      Pide un rol
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="post" class="space-y-6" asp-controller="Role" asp-action="Petition">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div>
        <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Role"></label>
        <select class="block w-full rounded-md 
          border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2
          focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"a asp-for="Role" asp-items="ViewBag.Roles"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
      </div>
      <div>
                <input type="submit" value="Registrar Peticion" class="inline-flex items-center px-3 py-2 bg-green-600 transition ease-in-out delay-75 hover:bg-green-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110 w-36">
                <input type="submit" value="Cancelar Peticion" class="inline-flex items-center px-3 py-2 bg-red-600 transition ease-in-out delay-75 hover:bg-red-700 text-white text-sm font-medium rounded-md hover:-translate-y-1 hover:scale-110 w-36" asp-controller="Home" asp-action="Index">
        <span class="alert-danger">@ViewBag.Error</span>
      </div>
    </form>
  </div>
</div>
