@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>OnlyPan</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true"/>
</head>
<body class="h-full">
<header>
  <!-- NavBar OnlyPan-->
  <nav class="navbar navbar-expand-lg bg-orange-200 navbar-page ">
    <div class="container-fluid">
      <!--Logo-->
      <a class="navbar-brand lg:text-3xl logo font-bold hover:text-amber-600" asp-area="" asp-controller="Home"
         asp-action="Index">
        Only<span class="logo2">Pan</span>
      </a>

      @* Navbar navigation links *@
      <div class="navbar-collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item font-bold">
            <a class="nav-link text-black hover:bg-amber-600 hover:text-white rounded-md px-3 py-2 " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
          </li>
          <li class="nav-item font-bold">
            <a class="nav-link text-black hover:bg-amber-600 hover:text-white rounded-md px-3 py-2" asp-area="" asp-controller="Home" asp-action="Bio">¿Quienes Somos?</a>
          </li>
        </ul>
      </div>

      @* Search Bar *@
      <form class="d-flex m-1.5 space-x-1.5" role="search">
        <input class="form-control rounded-md" type="search" placeholder="¿Qué Cocinaremos Hoy?" aria-label="Search">
        <button class="btn bg-green-600 btn-success text-white" type="submit">Buscar</button>
      </form>
      <!--Login buttons-->
      @if (Context.User.Identity is {IsAuthenticated: true })
      {
        <ul class="flex lg:flex-row sm:flex-col items-center space-x-1.5">
          <li class="nav-item">
            <a class="btn btn-primary bg-white text-blue-500" asp-area="" asp-controller="User" asp-action="Logout">Cerrar Sesión</a>
          </li>
        </ul>
      }
      else
      {
        <ul class="flex lg:flex-row sm:flex-col items-center space-x-1.5">
          <li class="nav-item">
            <a class="btn btn-primary bg-blue-500" asp-area="" asp-controller="User" asp-action="Login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary bg-blue-500"
               asp-area="" asp-controller="User" asp-action="Register">
              Registrate
            </a>
          </li>
        </ul>
      }
      @{
        /*
      <<div class="space-x-1.5">
        @* Register Modal *@
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary bg-blue-500 rounded-md" data-bs-toggle="modal" data-bs-target="#RegisterModal">
          Regístrate
        </button>
        @* TODO add icons to the project and put a close icon for now x is a placeholder*@
        @* TODO Add the funcionality of a register and login modals for better UX*@
        <!-- Modal -->
        <div class="modal fade" id="RegisterModal" tabindex="-1" aria-labelledby="RegisterModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="RegisterModalLabel">Register</h1>
                <button type="button" class="btn-close text-black" data-bs-dismiss="modal" aria-label="Close">x</button>
              </div>
              <div class="modal-body">
                Registro
              </div>
            </div>
          </div>
        </div>

        @* Login Modal *@
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary bg-blue-500 rounded-md" data-bs-toggle="modal" data-bs-target="#LoginModal">
          Iniciar Sesión
        </button>

        @* TODO add icons to the project and put a close icon *@
        <!-- Modal -->
        <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="LoginModalLabel">Inicio de sesion</h1>
                <button type="button" class="btn-close text-black text-xl font-bold" data-bs-dismiss="modal" aria-label="Close">x</button>
              </div>
              <div class="modal-body">
                Inicio de sesion
              </div>
            </div>
          </div>
        </div>
      </div> */
      }

    </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", false)
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>